.home-container{
    width: 100%;
}

.home-row{
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}
.arrow{
    cursor: pointer;
    position: absolute;
    top: 40%;
    color: black;
    background-color: aliceblue;
    padding: 8px 20px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
}
.next{
    right: 10px;
}
.pre{
    left: 10px;
    
}
.home-img{
    width: 100% !important;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,.4));
    }

