.container{
    background-color: rgb(39, 39, 71);
    padding: 8px;
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
   height: 32px;
}
.nav-bar{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 18px;
}
.nav-bar ul{
    margin: 0 15px;
    text-decoration: none;
    list-style-type: none ;
    display: flex;
}
.nav-link-active{
    text-decoration: none;
    color: white;
    margin: 0 10px;
}
.nav-link-active:hover{
    color: yellow;
}
