.subtotal{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
pre{
    margin-left: 10px;
    font-size: 30px;
}
.total-price{
    margin-left: 2px;
    font-size: 30px;
}
button{
    background-color: rgba(235, 187, 76, 0.932);
    font-size: 20px;
    border: solid 1px rgba(235, 187, 76, 0.932);
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    margin: 20px 0 0 40px;
}